/*没有子段的表格，整个表格*/
.graph_node_table  {
    padding: 4px;
    cursor: "pointer";
    border: "1px solid red";
}

.graph_node_table_with_fields {
    padding: 4px;
    border: "1px solid red";
}
/* 节点移动动画 */
.react-flow__node {
  transition: transform 0.2s ease-in-out; /* 默认有动画 */
}

.react-flow__node.dragging {
  transition: none !important; /* 拖动时禁用动画 */
}
ul {
    list-style: none;
    padding-left: 0;
}​