:root {
  color-scheme: light dark;
  color: white;
  background-color: #121212;
  --back-color: #121212;
  --font-color: white;
  --back-color-highlight: #1976d2;
  --font-color-highlight: rgb(255, 98, 0);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: white;

    --back-color: white;
    --font-color: black;
    --back-color-highlight: cornsilk;
    --font-color-highlight: rgb(255, 98, 0);
  }

}
.graphToolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  border: '0px solid red';
  display: 'flex';
  direction: 'column';
}
/*
css notes:
1. parent block (default), children height=100%
2. parent flex, children flex=1
*/
.graphCanvas {
  border: 0px solid purple;
  /* position: relative; */
  height: 100%;
}

.graphCanvas svg {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}

/*整个图的背景*/
.graphCanvas svg g polygon {
  fill: var(--back-color);
  /*graph back ground #121212;*/
}

.graphCanvas svg g polygon {
  -stroke: none;
  /*这个是整个图的边框*/
  /*graph border and edge arrow, and everything*/
}

.graphCanvas svg g path {
  fill: var(--back-color);
  /*动画时polygon会变成path*/
}

/*edge arrow*/
.graphCanvas svg g .edge polygon {
  stroke: var(--font-color);
  fill: var(--font-color);
}

/*edge text*/
.graphCanvas svg g .edge text {
  fill: var(--font-color);
}

.graphCanvas svg g .edge text:hover {
  fill: blue;
}

/*edge color*/
.graphCanvas svg g .edge path {
  stroke: var(--font-color);
  fill: none;
}






/*简单的图节点*/

.graphCanvas svg g .graph_node polygon {
  stroke: var(--font-color);
  fill: var(--font-color);
}

/* .graphCanvas svg g .graph_node  ellipse {
  fill: none;
} */



/*有子段的表格，整个表格*/
/*table border*/
.graphCanvas svg g .graph_node_table_with_fields polygon {
  stroke: var(--font-color);
}

.graphCanvas svg g .graph_node_table_with_fields {
  fill: var(--font-color);
}






/*没有子段的表格，整个表格*/
.graphCanvas svg g .graph_node_table polygon {
  stroke: var(--font-color);
  /*table and edge text 这个会让graph_node_table:hover 没用*/
}

.graphCanvas svg g .graph_node_table {
  fill: var(--font-color);
  /*table and edge text */
}

.graphCanvas svg g .graph_node_table:hover {
  fill: blue;
  /*table and edge text */
}





/*特定链接*/
.graphCanvas svg g a text {
  fill: cornflowerblue;
  /*a text*/
  cursor: pointer;
}

.graphCanvas svg g a text:hover {
  fill: blue;
  /*a hover*/
}


.graph_node_table {
  cursor: pointer;
}

.graph_node_table:hover {
  fill: blue;
}

.graph_label {
  cursor: pointer;
}

.graph_label:hover {
  fill: blue;
}

.graph_icon {
  cursor: pointer;
}

.graph_icon:hover {
  color: blue;
}

/*highlight*/

.graphCanvas svg g .graph_node_table_with_fields.highlight ellipse {
  stroke: var(--font-color-highlight);
  fill: var(--back-color-highlight);
}

.graphCanvas svg g .graph_node_table_with_fields.highlight path {
  stroke: var(--font-color-highlight);
  fill: var(--back-color-highlight);
}

.graphCanvas svg g .graph_node_table_with_fields.highlight polygon {
  stroke: var(--font-color-highlight);
  fill: var(--back-color-highlight);
}


.graphCanvas svg g .graph_node_table.highlight ellipse {
  stroke: var(--font-color-highlight);
  fill: var(--back-color-highlight);
}

.graphCanvas svg g .graph_node_table.highlight path {
  stroke: var(--font-color-highlight);
  fill: var(--back-color-highlight);
}

.graphCanvas svg g .graph_node_table.highlight polygon {
  stroke: var(--font-color-highlight);
  fill: var(--back-color-highlight);
}